---

language: generic

services:
 - docker

env:
 - DEPENDENCY_PACKAGES="meson desktop-file-utils gettext libdistinst-dev libgtk-3-dev libgee-0.8-dev libgranite-dev libxml2-dev libjson-glib-dev libgnomekbd-dev libpwquality-dev libxml2-utils valac"

script:
 - docker run -v "$PWD":/var/opt/vala-lint elementary/docker:vala-lint
 - docker run -v "$PWD":/tmp/build-dir elementary/docker:unstable-installer /bin/sh -c "apt-get update && apt-get -y dist-upgrade && apt-get -y install $DEPENDENCY_PACKAGES && cd /tmp/build-dir && meson build --prefix=/usr && ninja -C build test"
