Source: pop-installer
Section: utils
Maintainer: Jeremy Soller <jeremy@system76.com>
Build-Depends: debhelper (>= 9),
               desktop-file-utils,
               gettext,
               libdistinst-dev,
               libgee-0.8-dev,
               libgnomekbd-dev,
               libgranite-dev,
               libgtk-3-dev,
               libjson-glib-dev,
               libpwquality-dev,
               libxml2-dev,
               libxml2-utils,
               meson,
               valac (>= 0.26)
Standards-Version: 3.9.6
Homepage: https://github.com/pop-os/installer

Package: pop-installer
Architecture: amd64
Priority: extra
Depends: gparted, distinst-v2, ${misc:Depends}, ${shlibs:Depends}
Recommends: pop-installer-session
Description: Distribution installer
 Installs distros with ease, all installs are treated as OEM.

Package: pop-installer-session
Architecture: amd64
Priority: extra
Depends: pop-installer
Description: Dedicated installer session
 Launches pop-installer in a dedicated session.

Package: pop-installer-casper
Architecture: amd64
Priority: extra
Depends: casper
Description: Autostart pop-installer in casper
 Autostart pop-installer when running in a live system with casper
