[Desktop Entry]
Name=Installer
Comment=This session provides elementary experience
Exec=gnome-session --builtin --session=installer
DesktopNames=Installer
Type=Application
