[Desktop Entry]
Name=Installer
Comment=This session provides elementary experience
Exec=gnome-session --session=installer
Icon=
DesktopNames=Installer
Type=Application
