[Desktop Entry]
Name=Wingpanel
Exec=io.elementary.wingpanel -g
Icon=wingpanel
Terminal=false
Type=Application
X-GNOME-Autostart-Notify=false
X-GNOME-AutoRestart=true
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Panel
OnlyShowIn=Installer;
