name: Release

on:
  pull_request:
    branches: [main]
    types: [closed]

jobs:
  release:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/elementary/docker:next-unstable
    if: github.event.pull_request.merged == true && true == contains(join(github.event.pull_request.labels.*.name), 'Release')
    steps:
    - name: Install git
      run: |
        apt-get update
        apt-get install git -y

    - name: Clone repository
      uses: actions/checkout@v6
      with:
        token: ${{ secrets.GIT_USER_TOKEN }}

    - name: Create Release
      uses: elementary/actions/release@main
      env:
        GIT_USER_TOKEN: "${{ secrets.GIT_USER_TOKEN }}"
        GIT_USER_NAME: "elementaryBot"
        GIT_USER_EMAIL: "builds@elementary.io"
      with:
        release_branch: "noble"
